.container
  .sixteen.columns
    %h3.remove-bottom{:style => "margin-top: 40px"} Businesses
    %h5 Looking at LA
    %table{class: 'table table-striped table-hover', name: "t"}
      %tbody
        %tr
          %th ID
          %th Name
          %th Address
          %th City
          %th Zipcode
          %th Category
          %th Latitude
          %th Longitude
          /%th Image
        - @businesses.each do |business|
          %tr
            %td= business.id
            %td= business.name
            %td= business.address
            %td= business.city
            %td= business.zipcode
            %td= business.category.name if business.category.present?
            %td= business.location.latitude if business.location.present?
            %td= business.location.longitude if business.location.present?
            / %td= #image_tag "http://#{business.image.split(//)[1]}", style: "width:50px;"


    = paginate @businesses